body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

body.raving {
  background-color: red;
}

body.raving div p {
  opacity: 1;
  -webkit-animation: rave_text 0.2s infinite;
          animation: rave_text 0.2s infinite;
}

body > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

body > div p {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 150px;
  opacity: 0;
  color: blue;
  font-size: 2.0rem;
}

#ravebear {
  width: 150px;
  margin: auto;
}

#ravebear:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-animation: rave_rave 0.2s infinite;
          animation: rave_rave 0.2s infinite;
}

@-webkit-keyframes rave_rave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: invert(0);
            filter: invert(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}

@keyframes rave_rave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: invert(0);
            filter: invert(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}

@-webkit-keyframes rave_text {
  0% {
    -webkit-filter: invert(0);
            filter: invert(0);
  }
  100% {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}

@keyframes rave_text {
  0% {
    -webkit-filter: invert(0);
            filter: invert(0);
  }
  100% {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}
/*# sourceMappingURL=styles.css.map */