body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    &.raving{
        background-color: red;       
        div{
            p{
                opacity: 1;
                animation: rave_text 0.2s infinite;
            }
        }
    }
}
body>div{
    display: flex;
    flex-direction: column;
    height: 100%;
    p{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 150px;
        opacity: 0;
        color: blue;
        font-size: 2.0rem;
    }
}
#ravebear{
    width: 150px;
    margin: auto;
}
#ravebear:hover{
    transform: rotate(360deg);
    animation: rave_rave 0.2s infinite;
}

@keyframes rave_rave{
    0%{
        transform: rotate(0deg);
        filter: invert(0);
    }
    100%{
        transform: rotate(360deg);
        filter: invert(1);

    }
}
@keyframes rave_text{
    0%{
        filter: invert(0);
    }
    100%{
        filter: invert(1);
    }
}